/* font-family: 'Source Serif Pro', serif; */

p {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}

a {
    text-decoration: none;
}

span {
    color: #000;
}

.header {
    background-color: #a3e9f838;
}

.news__content {
    max-height: 60%;
    background-color: white;
}

.news__content__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search__icon {
    position: relative;
}

.search__icon::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
}

.phone__link {
    position: relative;
}

.phone__link::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/phone_img.svg);
    background-repeat: no-repeat;
    right: 100px;
    top: -5px;
}

.subheader {
    min-height: 60vh;
    max-height: 80vh;
    background-color: #a3e9f839;
    background-image: url(../img/boat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.subheader__subtext {
    font-family: 'Source Serif Pro';
}

.btn__help {
    max-width: 200px;
    color: #847FD2;
    border: 1px solid #847FD2;
    border-radius: 10px;
}

.card-body {
    max-height: fit-content;
}

.about__part__img {
    max-height: 50vh;
    max-width: 80vh;
}

.btn__browse__more {
    min-width: 250px;
    color: #847FD2;
    border: 1px solid #847FD2;
}

.card {
    border: none;
}

.card:hover {
    cursor: pointer;
}

.carousel {
    height: 12rem;
}

.carousel-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    margin-left: 110px;
    content: '>';
    font-size: 30px;
}

.carousel-control-prev-icon:after {
    margin-left: -130px;
    content: '<';
    font-size: 30px;
}

.footer__links ul,
.footer__contacts ul{
    list-style: none;
}

.footer__links ul li:not(:last-child) {
    margin-bottom: 10px;
}
