/* font-family: 'Source Serif Pro', serif; */

a {
    text-decoration: none;
}

span {
    color: #000;
}

.header {
    background-color: #a3e9f839;
}

.search__icon {
    position: relative;
}

.search__icon::before {
    position: absolute;
    content: "";
    bottom: 0px;
    width: 40px;
    height: 40px;
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
}

.phone__link {
    position: relative;
}

.phone__link::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/phone_img.svg);
    background-repeat: no-repeat;
    right: 120px;

}

/* .subheader {
    background-image: url(../img/image\ 4header_img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 250px;
} */

.subheader__text {
    font-family: 'Source Serif Pro';
}

.subheader__subtext {
    font-family: 'Source Serif Pro';
}

.btn__help {
    color: #847FD2;
    border: 1px solid #847FD2;
    border-radius: 10px;
}