/* font-family: 'Source Serif Pro', serif; */

p {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}

a {
    text-decoration: none;
}

span {
    color: #000;
}

.header {
    background-color: #a3e9f838;
}

.news__content {
    background-color: white;
}

.search__icon {
    position: relative;
}

.search__icon::before {
    position: absolute;
    content: "";
    bottom: 0px;
    width: 40px;
    height: 40px;
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
}

.phone__link {
    position: relative;
}

.phone__link::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/phone_img.svg);
    background-repeat: no-repeat;
    right: 100px;
    top: -5px;
}

.subheader {
    min-height: 60vh;
    max-height: 80vh;
    background-color: #a3e9f839;
    background-image: url(../img/boat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.subheader__subtext {
    font-family: 'Source Serif Pro';
}

.btn__help {
    max-width: 200px;
    color: #847FD2;
    border: 1px solid #847FD2;
    border-radius: 10px;
}

.news__content {
    max-height: max-content;
}

.card-body {
    max-height: fit-content;
}

.about__part__img {
    max-height: 50vh;
    max-width: 80vh;
}

.btn__browse__more {
    min-width: 250px;
    color: #847FD2;
    border: 1px solid #847FD2;
}

.carousel {
    height: max-content;
}

.carousel-inner {
    max-height: 30vh;
}

.carousel-item {
    max-height: 30vh;
}

.carousel-caption {
    max-height: 30vh;
}

.carousel__text {
    padding-top: 0;
    top: 0;
}

.comment__header {
    padding-top: 10px;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    text-align: start;
}

.comment__text {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    text-align: start;
}

.text__comment__comas {
    position: relative;
}

.text__comment__comas::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/commas.svg);
    background-repeat: no-repeat;
    left: -20px;
}


.footer__links ul,
.footer__contacts ul{
    list-style: none;
}

.footer__links ul li:not(:last-child) {
    margin-bottom: 10px;
}

/* .arrow__prev {
    position: relative;
}

.arrow__next {
    position: relative;
}

.arrow__prev::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow-back.svg);
    background-repeat: no-repeat;
    bottom: 100px;
}

.arrow__next::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow-forward.svg);
    background-repeat: no-repeat;
    bottom: 100px;
} */