<footer class="container-fluid footer__bg">
    <div class="modal fade" id="appealModal" tabindex="-1" aria-labelledby="appealModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Оставьте свое обращение</h5>
                    <button id="formBtn" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="appealHelp-tab" data-bs-toggle="tab"
                                        data-bs-target="#appealHelp" type="button" role="tab" aria-controls="appealHelp"
                                        aria-selected="true">Помощь
                                </button>
                                <button class="nav-link" id="appealConsultation-tab" data-bs-toggle="tab"
                                        data-bs-target="#appealConsultation" type="button" role="tab"
                                        aria-controls="appealConsultation" aria-selected="false">Консультации
                                </button>
                                <button class="nav-link" id="appealVolunteer-tab" data-bs-toggle="tab"
                                        data-bs-target="#appealVolunteer" type="button" role="tab"
                                        aria-controls="appealVolunteer" aria-selected="false">Волонтерство
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mt-3" id="nav-tabContent">
                            <div class="mb-3">
                                <label for="nameFormInput" class="form-label">Имя <strong
                                        style="color: red">*</strong></label>
                                <input required type="text" class="form-control" id="nameFormInput" placeholder="Иван">
                            </div>
                            <div class="mb-3">
                                <label for="surnameFormInput" class="form-label">Фамилия <strong
                                        style="color: red">*</strong></label>
                                <input required type="text" class="form-control" id="surnameFormInput"
                                       placeholder="Иванов">
                            </div>
                            <div class="mb-3">
                                <label for="phoneFormInput" class="form-label">Номер телефона <strong
                                        style="color: red">*</strong></label>
                                <input required type="tel" class="form-control" id="phoneFormInput"
                                       placeholder="(999)999-99-99">
                            </div>
                            <div class="tab-pane fade show active appeal" id="appealHelp" role="tabpanel"
                                 aria-labelledby="appealHelp-tab">

                                <label for="typeOfHelp" class="form-label">Тип требуемой помощи <strong
                                        style="color: red">*</strong></label>
                                <select required class="form-select form-control mb-3" id="typeOfHelp"
                                        aria-label="Default select example">
                                    <option value="1" selected>SOS-размещение</option>
                                    <option value="2">Гуманитарная помощь</option>
                                    <option value="3">Необходим адресный сбор</option>
                                </select>
                            </div>
                            <div class="tab-pane fade appeal" id="appealConsultation" role="tabpanel"
                                 aria-labelledby="appealConsultation-tab">
                                <label for="typeOfConsultation" class="form-label">Тип требуемой консультации <strong
                                        style="color: red">*</strong></label>
                                <select required class="form-select form-control mb-3" id="typeOfConsultation"
                                        aria-label="Default select example">
                                    <option value="1" selected>Консультация психолога</option>
                                    <option value="2">Консультация юриста</option>
                                    <option value="3">Хочу в группу поддержки</option>
                                </select>
                            </div>
                            <div class="tab-pane fade mt-3 appeal" id="appealVolunteer" role="tabpanel"
                                 aria-labelledby="appealVolunteer-tab">
                                <select required class="form-select form-control mb-3" id="typeOfVolunteer"
                                        aria-label="Default select example">
                                    <option value="1">Хочу быть волонтёром Фонда</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="checkboxForm" checked>
                            <label class="form-check-label" for="checkboxForm">
                                Я согласен на <a href="personal_data">На обработку персональных данных</a>
                            </label>
                        </div>
                        <div class="mb-3">
                            <button disabled id="submitForm" type="button" class="btn btn-primary">
                                Отправить
                            </button>
                            <p><small><strong style="color: red">*</strong> - Обязательные поля</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div
            class="d-none d-sm-flex row justify-content-lg-evenly justify-content-md-between justify-content-sm-between pt-3">
        <div class="col-5 col-sm-3 col-md-3 col-lg-2 footer__links">
            <ul>
                <li><a class="link-dark" href="/">ГЛАВНАЯ</a></li>
                <li><a class="link-dark" href="{% url 'about' %}">О ФОНДЕ</a></li>
                <li><a class="link-dark" href="{% url 'programs' %}">ПРОГРАММЫ</a></li>
                <li><a class="link-dark" href="{% url 'about' %}#help-tab">ХОЧУ ПОМОЧЬ</a></li>
                <li><a class="link-dark" href="{% url 'voting_right' %}">ПРАВО ГОЛОСА</a></li>
                <li><a class="link-dark" href="{% url 'news' %}">НОВОСТИ</a></li>
                <li><a class="link-dark" href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="col-7 col-sm-5 col-md-4 col-lg-4 footer__contacts">
            <ul>
                <li>
                    <a class="link-dark" href="tel:{{info.phone_number}}">
                        <i class="bi bi-telephone-fill"></i>
                        {{info.phone_number}}
                    </a>
                </li>
                <li class="mt-2">
                    <a class="" href="mailto:{{info.email}}">
                        <i class="bi bi-envelope"></i>
                        {{info.email}}
                    </a>
                </li>
                <li class="mt-2">
                    <p class="text-wrap ymaps-geolink">{{info.address}}</p>
                </li>
            </ul>

        </div>
        <div class="col-2 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center text-black-50">
            <i class="bi bi-printer"></i>
            <p class="">Версия для печати</p>
        </div>
        <hr>
        <div class="row row-cols-2 justify-content-between">
            <div class="col-4">
                <p class="text-black-50">
                    © Воронежское областное отделение общероссийского общественного благотворительного фонда
                    «Российский детский фонд» 1988-2022
                </p>
            </div>
            <div class="col-auto">
                <p class="text-black-50">
                    Политика конфиденциальности
                </p>
            </div>
        </div>
    </div>
    <!-- extra small devices -->
    <div class="d-block d-sm-none row row-cols-1">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="row">
                    <a class="link-dark" href="tel:{{info.phone_number}}">
                        <i class="bi bi-telephone-fill"></i>
                        {{info.phone_number}}
                    </a>
                </div>
                <div class="row mt-2">
                    <a class="" href="mailto:{{info.email}}">
                        <i class="bi bi-envelope"></i>
                        {{info.email}}
                    </a>
                </div>
                <div class="row mt-2">
                    <p class="text-wrap ymaps-geolink">{{info.address}}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="text-black-50">
                    © Воронежское областное отделение общероссийского общественного <br> благотворительного фонда
                    «Российский детский фонд» 1988-2022
                </p>
            </div>
            <div class="col-auto">
                <p class="text-black-50">
                    Политика конфиденциальности
                </p>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://api-maps.yandex.ru/2.1/?load=Geolink&amp;lang=ru_RU&amp;apikey=eec37a3a-9c10-49b0-9bed-3a757cc0e425" type="text/javascript"></script>
    <script src="https://unpkg.com/imask"></script>
</footer>
