<footer class="container-fluid footer__bg">
    <hr>
    <div
            class="d-none d-sm-flex row justify-content-lg-evenly justify-content-md-between justify-content-sm-between pt-3">
        <div class="col-5 col-sm-3 col-md-3 col-lg-2 footer__links">
            <ul>
                <li><a class="link-dark" href="/">ГЛАВНАЯ</a></li>
                <li><a class="link-dark" href="{% url 'about' %}">О ФОНДЕ</a></li>
                <li><a class="link-dark" href="{% url 'programs' %}">ПРОГРАММЫ</a></li>
                <li><a class="link-dark" href="">ХОЧУ ПОМОЧЬ</a></li>
                <li><a class="link-dark" href="">ПРАВО ГОЛОСА</a></li>
                <li><a class="link-dark" href="{% url 'news' %}">НОВОСТИ</a></li>
                <li><a class="link-dark" href="">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="col-7 col-sm-5 col-md-4 col-lg-4 footer__contacts">
            <ul>
                <li>
                    <a class="link-dark" href="tel:{{info.phone_number}}">
                        <i class="bi bi-telephone-fill"></i>
                        {{info.phone_number}}
                    </a>
                </li>
                <li class="mt-2">
                    <a class="" href="mailto:{{info.email}}">
                        <i class="bi bi-envelope"></i>
                        {{info.email}}
                    </a>
                </li>
                <li class="mt-2">
                    <a href="">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{info.address}}
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-2 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center text-black-50">
            <i class="bi bi-printer"></i>
            <p class="">Версия для печати</p>
        </div>
        <hr>
        <div class="row row-cols-2 justify-content-between">
            <div class="col-4">
                <p class="text-black-50">
                    © Воронежское областное отделение общероссийского общественного благотворительного фонда
                    «Российский детский фонд» 1988-2022
                </p>
            </div>
            <div class="col-auto">
                <p class="text-black-50">
                    Политика конфиденциальности
                </p>
            </div>
        </div>
    </div>
    <!-- extra small devices -->
    <div class="d-block d-sm-none row row-cols-1">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="row">
                    <a class="link-dark" href="tel:{{info.phone_number}}">
                        <i class="bi bi-telephone-fill"></i>
                        {{info.phone_number}}
                    </a>
                </div>
                <div class="row mt-2">
                    <a class="" href="mailto:{{info.email}}">
                        <i class="bi bi-envelope"></i>
                        {{info.email}}
                    </a>
                </div>
                <div class="row mt-2">
                    <a href="">
                        <i class="bi bi-geo-alt-fill"></i>
                        {{info.address}}                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="text-black-50">
                    © Воронежское областное отделение общероссийского общественного <br> благотворительного фонда
                    «Российский детский фонд» 1988-2022
                </p>
            </div>
            <div class="col-auto">
                <p class="text-black-50">
                    Политика конфиденциальности
                </p>
            </div>
        </div>
    </div>
</footer>
