{% load static %}
<header class="header container-fluid pb-5">
    <div class="row align-content-center justify-content-md-between">
        <div class="col-xxl-4 col-xl-3 col-lg-3 col-md-5 col-sm-8 col-8 d-flex align-content-center m-4">
            <a href="/">
                <img src="{% static 'home/images/logo.svg' %}" alt="logo" srcset="" width="70px" height="120px">
            </a>
            <div class="row row-col-1 ms-xxl-5 ms-xl-4 ms-lg-1 ms-md-3 ms-2">
                <a class="align-self-center" href="tel:{{info.phone_number}}">
                    {{info.phone_number}}
                </a>
                <a href="https://vk.com/detfondvrn">
                    <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 48C0 25.3726 0 14.0589 7.02944 7.02944C14.0589 0 25.3726 0 48 0L52 0C74.6274 0 85.9411 0 92.9706 7.02944C100 14.0589 100 25.3726 100 48V52C100 74.6274 100 85.9411 92.9706 92.9706C85.9411 100 74.6274 100 52 100H48C25.3726 100 14.0589 100 7.02944 92.9706C0 85.9411 0 74.6274 0 52L0 48Z"
                              fill="#0077FF"/>
                        <path d="M53.2085 72.0418C30.4168 72.0418 17.4169 56.4169 16.8752 30.4169H28.2919C28.6669 49.5002 37.0834 57.5835 43.75 59.2501V30.4169H54.5004V46.8751C61.0837 46.1668 67.9995 38.6669 70.3329 30.4169H81.0832C79.2915 40.5835 71.7915 48.0835 66.4582 51.1668C71.7915 53.6668 80.3336 60.2085 83.5836 72.0418H71.7499C69.2082 64.1252 62.8754 58.0001 54.5004 57.1668L54.5004 72.0418H53.2085Z"
                              fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg col-xxl-7 col-xl-8 col-lg-8 d-none d-lg-flex">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-lg-wrap">
                    <li class="nav-item">
                        <button class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                            Оставить обращение
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            О фонде
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'about' %}">О фонде</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#docs-tab">Документы</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#requisites-tab">Реквизиты</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#feedbacks-tab">Отзывы</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}#help-tab">Хочу помочь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'voting_right' %}">Право голоса</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'programs' %}">Программы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="align-self-center col-md-2 col-sm-1 col-1 d-md-block d-lg-none">
            <a class="dropdown-toggle col-md-2" type="button" id="dropdownMenuButton2-xs" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2-xs">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}">О фонде</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="{% url 'voting_right' %}">Право голоса</a></li>
                <li><a class="dropdown-item" href="{% url 'programs' %}">Программы</a></li>
                <li><a class="dropdown-item" href="{% url 'news' %}">Новости</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>
