{% load static %}
<header class="header container-fluid pb-1">
    <div class="row align-content-center">
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <a href="">
                <img src="{% static 'home/images/logo.svg' %}" alt="logo" srcset="" width="50px" height="100px">
            </a>
        </div>
        <!-- extra small devices -->
        <div class="d-block d-sm-none col-7 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                <a class="phone__link" href="tel:{{info.phone_number}}">{{info.phone_number}}</a>
            </p>
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-block d-sm-none col-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2-xs" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2-xs">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="{% url 'about' %}">О фонде</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="{% url 'programs' %}">Программы</a></li>
                <li><a class="dropdown-item" href="{% url 'news' %}">Новости</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a></li>
            </ul>

        </div>

        <!-- small devices -->
        <div class="d-none d-sm-block d-md-none col-sm-8 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                <a class="phone__link" href="tel:{{info.phone_number}}">{{phone_number}}</a>
            </p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-none d-sm-block d-md-none col-sm-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2-sm" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2-sm">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="{% url 'about' %}">О фонде</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="{% url 'programs' %}">Программы</a></li>
                <li><a class="dropdown-item" href="{% url 'news' %}">Новости</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>

        <!-- medium devices -->
        <div class="d-none d-md-block d-lg-none col-md-10 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское областное отделение общероссийского общественного благотворительного фонда “Российский
                детский фонд”<br>
                <a class="phone__link" href="tel:{{info.phone_number}}">{{info.phone_number}}</a>
            </p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-none d-md-block d-lg-none col-md-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="{% url 'about' %}">О фонде</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="{% url 'programs' %}">Программы</a></li>
                <li><a class="dropdown-item" href="{% url 'news' %}">Новости</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </div>

        <!-- large divices -->
        <div class="align-self-end col-lg-4 mt-lg-2">
            <p class="text-uppercase text-info d-none d-lg-block">
                Воронежское областное отделение <br>
                общероссийского общественного <br>
                благотворительного фонда <br>
                “Российский детский фонд” <br>
                <a class="phone__link" href="tel:{{info.phone_number}}">{{info.phone_number}}</a>
            </p>
        </div>
        <nav class="navbar navbar-expand-lg col-lg-7">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-lg-wrap">
                    <li class="nav-item">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                            Оставить обращение
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            О фонде
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'about' %}">О фонде</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#help-tab">Хочу помочь</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#docs-tab">Документы</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#requisites-tab">Реквизиты</a></li>
                            <li><a class="dropdown-item" href="{% url 'about' %}#feedbacks-tab">Отзывы</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}#help-tab">Хочу помочь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Право голоса</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'programs' %}">Программы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
