<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <title>Title</title>
</head>

<body>
    <header class="header container-fluid pb-5">
        <div class="row align-content-center">
            <div class="col-lg-1 col-md-1 col-sm-2 col-2">
                <a href="">
                    <img src="../../static/img/logo.svg" alt="logo" srcset="" width="50px" height="100px">
                </a>
            </div>
            <!-- extra small devices -->
            <div class="d-block d-sm-none col-7 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-block d-sm-none col-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                </ul>
            </div>

            <!-- small devices -->
            <div class="d-none d-sm-block d-md-none col-sm-8 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-none d-sm-block d-md-none col-sm-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                </ul>
            </div>

            <!-- medium devices -->
            <div class="d-none d-md-block d-lg-none col-md-10 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское областное отделение общероссийского общественного благотворительного фонда “Российский
                    детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-none d-md-block d-lg-none col-md-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                </ul>
            </div>

            <!-- large divices -->
            <div class="align-self-end col-lg-4 mt-lg-2">
                <p class="text-uppercase text-info d-none d-lg-block">
                    Воронежское областное отделение <br>
                    общероссийского общественного <br>
                    благотворительного фонда <br>
                    “Российский детский фонд” <br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <nav class="navbar navbar-expand-lg col-lg-7">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-lg-wrap">
                        <li class="nav-item">
                            <a class="nav-link" href="">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">О фонде</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Программы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Хочу помочь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Право голоса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid subheader">
            <div>
                <h1 class="subheader__text text-center pt-5">
                    Воронежское областное отделение<br>
                    «Российский детский фонд»
                </h1>
                <p class="subheader__subtext text-center text-nowrap">Основан в 1988 году</p>
            </div>
            <div class="d-grid gap-2 col-4 justify-content-center mx-auto mt-5">
                <button class="btn btn__help text-nowrap" type="button">Помощь фонду</button>
            </div>
        </div>
    </header>
    <div class="our__news container-fluid  pb-5">
        <h2>Наши новости</h2>
        <!-- extra small devices -->
        <div class="row d-flex d-md-none">
            <div class="col-6">
                <a href="">
                    <div class="card h-100">
                        <img src="../../static/img/news_1.png" alt="" srcset="">
                        <div class="card-body">
                            <h5 class="card-title text-black-50">Новости</h5>
                            <p class="card-text text-dark">Для маленьких детей-сирот в Воронежской области начнут искать
                                семьи по пилотной программе</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <a href="#">
                    <div class="card h-100">
                        <img src="../../static/img/news_2.png" alt="" srcset="">
                        <div class="card-body">
                            <h5 class="card-title text-black-50">Новости</h5>
                            <p class="card-text text-dark">Елена Губина поздравила с первым днем рождения подопечного
                                Фонда</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- all rest devices -->
        <div class="row d-none d-md-flex">
            <div class="col-4">
                <a href="">
                    <div class="card">
                        <img src="../../static/img/news_3.png" class="card-img" alt="" srcset="">
                        <div class="card-img-overlay row align-content-end justify-content-end">
                            <div class="col-auto news__content">
                                <h5 class="card-title text-black-50">Новости</h5>
                                <p class="card-text text-dark">Нам помогает отряд "Лего"</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <div class="card">
                        <img src="../../static/img/news_2.png" class="card-img" alt="" srcset="">
                        <div class="card-img-overlay row align-content-end justify-content-end">
                            <div class="col-auto news__content">
                                <h5 class="card-title text-black-50">Новости</h5>
                                <p class="card-text text-dark">Елена Губина поздравила с первым днем рождения
                                    подопечного Фонда</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <div class="card">
                        <img src="../../static/img/news_1.png" class="card-img" alt="" srcset="">
                        <div class="card-img-overlay row align-content-end justify-content-end">
                            <div class="col-auto news__content">
                                <h5 class="card-title text-black-50">Новости</h5>
                                <p class="card-text text-dark">Для маленьких детей-сирот в Воронежской области начнут
                                    искать семьи по пилотной программе</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-grid gap-2 col-4 justify-content-center mx-auto mt-5">
            <button class="btn btn__browse__more text-nowrap" type="button">ЗАГРУЗИТЬ ЕЩЁ</button>
        </div>
    </div>
    <div class="about__part container-fluid pb-5 pl-2">
        <div class="row justify-content-start">
            <h2>О фонде</h2>
        </div>
        <div class="row ml">
            <div class="col col-lg-6 col-md-6 ps-3">
                <p>
                    Детский фонд был создан в 1987 году и сначала назывался Советским. Его основателем стал известный
                    детский писатель, главный редактор журнала «Смена» Альберт Лиханов. Советский детский фонд стал
                    первой независимой общественной благотворительной организацией в СССР. Он оказывал помощь детям:
                    сиротам и инвалидам, больным и тем, кто нуждался в правовой защите и элементарной материальной
                    поддержке.
                </p>
                <p>
                    В первые годы существования было очень тяжело привлекать денежные средства и заниматься
                    благотворительностью. Были и аукционы, и благотворительные копилки, которые ставились в кинотеатрах,
                    в универмагах, на выставках. Потом сотрудники стали распространять благотворительные билеты,
                    проводить Рождественские благотворительные балы и концерты.
                </p>
                <p>
                    А через пять лет Детский фонд стал работать по программам, и этот формат сохранился до сих пор.
                    Сейчас в Воронежском отделении Росдетфонда реализуются социальные программы по поддержке материнства
                    и детства: конкурс для учителей интернатов, которые работают с особенными детками, гуманитарная
                    помощь маленьким пациентам детских туберкулезных диспансеров, проект “Центр “Право Голоса”,
                    работающий с проблемой домашнего насилия, «Скорая социальная помощь» для многодетных семей и другие
                    проекты.
                </p>
                <button class="btn text-nowrap bg-danger text-white">ХОЧУ ПОМОЧЬ ФОНДУ</button>
            </div>
            <img src="../../static/img/6eb2a55a02b296cd1b63307ed60c34a6 1.png"
                class="offset-lg-1 col-lg-5 col-md-6 d-none d-md-block align-self-start about__part__img" alt="">
        </div>
    </div>

    <div class="programs__section container-fluid pb-5 pl-2">
        <div class="row justify-content-start">
            <h2>Программы фонда</h2>
        </div>
        <div class="row gy-2 row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
            <div class="col">
                <a href="">
                    <img src="../../static/img/program_1.png" class="card-img" alt="" srcset="">
                </a>
            </div>

            <div class="col">
                <a href="">
                    <img src="../../static/img/program_2.png" class="card-img" alt="" srcset="">
                </a>
            </div>
            <div class="col">
                <a href="">
                    <img src="../../static/img/program_3.png" class="card-img" alt="" srcset="">
                </a>
            </div>
            <div class="col">
                <a href="">
                    <img src="../../static/img/program_4.png" class="card-img" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
    <hr class="d-none d-md-flex">
    <div class="programs__section container-fluid pl-2 d-none d-md-block">
        <div class="row justify-content-start">
            <h2>Отзывы</h2>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../static/img/white_back.png" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-block text-dark carousel__text">
                        <div class="row justify-content-between">
                            <div class="col-5 comment__header">
                                <h5>Многодетная семья Зацепиных</h5>
                            </div>
                            <div class="col-7 align-self-center">
                                <span>
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="row text__comment__comas">
                            <p class="text text-black-50 comment__text">Здравствуйте! <br>
                                Очень хочется сказать самые искренние слова благодарности всем-всем, кто помогает детям
                                и их родителям через Российский Детский Фонд. И так приятно, что есть люди, которые
                                понимают, как важно, чтобы у всех была возможность посещать разнообразные культурные
                                мероприятия....</p>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-outline-primary text-nowrap">ОТЗЫВ
                                    ПОЛНОСТЬЮ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../static/img/white_back.png" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-block text-dark carousel__text">
                        <div class="row justify-content-between">
                            <div class="col-5 comment__header">
                                <h5>Многодетная семья Зацепиных</h5>
                            </div>
                            <div class="col-7">
                                <span>
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="row text__comment__comas">
                            <p class="text text-black-50 comment__text">Здравствуйте! <br>
                                Очень хочется сказать самые искренние слова благодарности всем-всем, кто помогает детям
                                и их родителям через Российский Детский Фонд. И так приятно, что есть люди, которые
                                понимают, как важно, чтобы у всех была возможность посещать разнообразные культурные
                                мероприятия....</p>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-outline-primary text-nowrap">ОТЗЫВ
                                    ПОЛНОСТЬЮ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../static/img/white_back.png" class="d-block w-50" alt="...">
                    <div class="carousel-caption d-block text-dark carousel__text">
                        <div class="row justify-content-between">
                            <div class="col-5 comment__header">
                                <h5>Многодетная семья Зацепиных</h5>
                            </div>
                            <div class="col-7 align-self-center">
                                <span>
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                    <img src="../../static/img/star.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="row text__comment__comas">
                            <p class="text text-black-50 comment__text">Здравствуйте! <br>
                                Очень хочется сказать самые искренние слова благодарности всем-всем, кто помогает детям
                                и их родителям через Российский Детский Фонд. И так приятно, что есть люди, которые
                                понимают, как важно, чтобы у всех была возможность посещать разнообразные культурные
                                мероприятия....</p>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-outline-primary text-nowrap">ОТЗЫВ
                                    ПОЛНОСТЬЮ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev arrow__prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next arrow__next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <hr>
    <footer class="container-fluid">
        <div class="d-none d-sm-flex row justify-content-lg-evenly justify-content-md-between justify-content-sm-between pt-3">
            <div class="col-5 col-sm-3 col-md-3 col-lg-2 footer__links">
                <ul>
                    <li><a class="link-dark" href="">ГЛАВНАЯ</a></li>
                    <li><a class="link-dark" href="">О ФОНДЕ</a></li>
                    <li><a class="link-dark" href="">ПРОГРАММЫ</a></li>
                    <li><a class="link-dark" href="">ХОЧУ ПОМОЧЬ</a></li>
                    <li><a class="link-dark" href="">ПРАВО ГОЛОСА</a></li>
                    <li><a class="link-dark" href="">НОВОСТИ</a></li>
                    <li><a class="link-dark" href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5 col-md-4 col-lg-4 footer__contacts">
                <ul>
                    <li>
                        <a class="phone__link__footer link-dark" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                    </li>
                    <li><a class="mail__link__footer" href="mailto:fond@dfvrn.ru ">fond@dfvrn.ru</a></li>
                    <li></li>
                </ul>
                
            </div>
            <div class="col-2 col-sm-3 col-md-3 col-lg-2">
                <a href="">394036, Россия, г. Воронеж, 
                    ул. Комиссаржевской, д. 15а, 
                    3 этаж, офис 3</a>
            </div>
        </div>
        <div class="d-block d-sm-none row row-cols-1">
            <div class="col d-flex justify-content-center">
                <a class="phone__link__footer link-dark" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
            </div>
            <div class="col d-flex justify-content-center mt-2">
                <a class="mail__link__footer" href="mailto:fond@dfvrn.ru ">fond@dfvrn.ru</a>
            </div>
            <div class="col d-flex justify-content-center mt-2">
                <a href="">394036, Россия, г. Воронеж, <br> ул. Комиссаржевской, д. 15а,<br> 3 этаж, офис 3</a>
            </div>
        </div>
    </footer>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>