<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Title</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <div class="col-lg-3">
                    <img src="../../static/img/logo.svg" width="50px" height="80px" alt="">
                </div>
                <div class="collapse navbar-collapse col-lg" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="#">Главная</a>
                        <a class="nav-link" href="#">О фонде</a>
                        <a class="nav-link" href="#">Программа</a>
                        <a class="nav-link" href="#">Хочу помочь</a>
                        <a class="nav-link" href="#">Право голоса</a>
                        <a class="nav-link" href="#">Новости</a>
                        <a class="nav-link" href="#">Контакты</a>
                        <a class="nav-link" href="#">Лупа</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>