<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <title>Title</title>
</head>

<body>
    <header class="header container-fluid">
        <div class="row align-content-center">
            <div class="col-lg-1 col-md-1 col-sm-2 col-2">
                <a href="">
                    <img src="../../static/img/logo.svg" alt="logo" srcset="" width="50px" height="100px">
                </a>
            </div>
            <!-- extra small devices -->
            <div class="d-block d-sm-none col-7 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-block d-sm-none col-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                  </ul>
            </div>
            <!-- small devices -->
            <div class="d-none d-sm-block d-md-none col-sm-8 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-none d-sm-block d-md-none col-sm-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                  </ul>
            </div>
            <!-- medium devices -->
            <div class="d-none d-md-block d-lg-none col-md-10 align-self-center">
                <p class="text-info text-uppercase">
                    Воронежское областное отделение общероссийского общественного благотворительного фонда “Российский
                    детский фонд”<br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <div class="d-none d-md-block d-lg-none col-md-1 align-self-center">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../static/img/menu.svg" alt="menu" srcset="">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">Главная</a></li>
                    <li><a class="dropdown-item" href="#">О фонде</a></li>
                    <li><a class="dropdown-item" href="#">Программы</a></li>
                    <li><a class="dropdown-item" href="#">Хочу помочь</a></li>
                    <li><a class="dropdown-item" href="#">Право голоса</a></li>
                    <li><a class="dropdown-item" href="#">Новости</a></li>
                    <li><a class="dropdown-item" href="#">Контакты</a></li>
                  </ul>
            </div>
            <!-- large divices -->
            <div class="align-self-end col-lg-4 mt-lg-2">
                <p class="text-uppercase text-info d-none d-lg-block">
                    Воронежское областное отделение <br>
                    общероссийского общественного <br>
                    благотворительного фонда <br>
                    “Российский детский фонд” <br>
                    <a class="phone__link" href="tel:+7(473)2104705">+7 (473) 210-47-05</a>
                </p>
            </div>
            <nav class="navbar navbar-expand-lg col-lg-7">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-lg-wrap">
                        <li class="nav-item">
                            <a class="nav-link" href="">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">О фонде</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Программы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Хочу помочь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Право голоса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid subheader">
            <div>
                <h1 class="subheader__text text-center">
                    Воронежское областное отделение<br>
                     «Российский детский фонд»
                </h1>
                <p class="subheader__subtext text-center text-nowrap">Основан в 1988 году</p>
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn__help text-nowrap" type="button">Помощь фонду</button>
              </div>
        </div>
    </header>
    <div class="our__news">
        
    </div>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>