<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap"
          rel="stylesheet">
    <title>personalData</title>
</head>
<body>
<header class="header container-fluid pb-1">
    <div class="row align-content-center">
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <a href="">
                <img src="{% static 'home/images/logo.svg' %}" alt="logo" srcset="" width="50px" height="100px">
            </a>
        </div>
        <!-- extra small devices -->
        <div class="d-block d-sm-none col-7 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                <a class="phone__link" href="tel:+7(473)2104705">{{phone_number}}</a>
            </p>
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-block d-sm-none col-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2-xs" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2-xs">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="about">О фонде</a></li>
                <li><a class="dropdown-item" href="about#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="programs_list">Программы</a></li>
                <li><a class="dropdown-item" href="news_list">Новости</a></li>
                <li><a class="dropdown-item" href="#">Контакты</a></li>
            </ul>

        </div>

        <!-- small devices -->
        <div class="d-none d-sm-block d-md-none col-sm-8 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское отделение благотворительного фонда “Российский детский фонд”<br>
                <a class="phone__link" href="tel:+7(473)2104705">{{phone_number}}</a>
            </p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-none d-sm-block d-md-none col-sm-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2-sm" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2-sm">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="about">О фонде</a></li>
                <li><a class="dropdown-item" href="about#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="programs_list">Программы</a></li>
                <li><a class="dropdown-item" href="news_list">Новости</a></li>
                <li><a class="dropdown-item" href="#">Контакты</a></li>
            </ul>
        </div>

        <!-- medium devices -->
        <div class="d-none d-md-block d-lg-none col-md-10 align-self-center">
            <p class="text-info text-uppercase">
                Воронежское областное отделение общероссийского общественного благотворительного фонда “Российский
                детский фонд”<br>
                <a class="phone__link" href="tel:+7(473)2104705">{{phone_number}}</a>
            </p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                Оставить обращение
            </button>
        </div>
        <div class="d-none d-md-block d-lg-none col-md-1 align-self-center">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="{% static 'home/images/menu.svg' %}" alt="menu" srcset="">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/">Главная</a></li>
                <li><a class="dropdown-item text-info" href="about">О фонде</a></li>
                <li><a class="dropdown-item" href="about#help-tab">Хочу помочь</a></li>
                <li><a class="dropdown-item" href="#">Право голоса</a></li>
                <li><a class="dropdown-item" href="programs_list">Программы</a></li>
                <li><a class="dropdown-item" href="news_list">Новости</a></li>
                <li><a class="dropdown-item" href="#">Контакты</a></li>
            </ul>
        </div>

        <!-- large divices -->
        <div class="align-self-end col-lg-4 mt-lg-2">
            <p class="text-uppercase text-info d-none d-lg-block">
                Воронежское областное отделение <br>
                общероссийского общественного <br>
                благотворительного фонда <br>
                “Российский детский фонд” <br>
                <a class="phone__link" href="tel:+7(473)2104705">{{phone_number}}</a>
            </p>
        </div>
        <nav class="navbar navbar-expand-lg col-lg-7">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-lg-wrap">
                    <li class="nav-item">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appealModal">
                            Оставить обращение
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            О фонде
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="about">О фонде</a></li>
                            <li><a class="dropdown-item" href="about#help-tab">Хочу помочь</a></li>
                            <li><a class="dropdown-item" href="about#docs-tab">Документы</a></li>
                            <li><a class="dropdown-item" href="about#requisites-tab">Реквизиты</a></li>
                            <li><a class="dropdown-item" href="about#feedbacks-tab">Отзывы</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about#help-tab">Хочу помочь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Право голоса</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="programs_list">Программы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news_list">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <h2>Согласие на обработку персональных данных</h2>
    <p>
        Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку ВООООБФ «Российский детский фонд» персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.
    </p>
    <p>
        ВООООБФ «Российский детский фонд» гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых ВООООБФ «Российский детский фонд» в качестве обязательных к исполнению.
    </p>
    <p>
        Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.
    </p>
    <p>
        Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: 394018, Россия, г. Воронеж, пл. Ленина, д.5, к.7 с пометкой «Отзыв согласия на обработку персональных данных».
    </p>
    <p>
        Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (https://dfvrn.ru), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных ВООООБФ «Российский детский фонд», что может сделать невозможным пользование интернет-сервисами ВООООБФ «Российский детский фонд».
    </p>
    <p>
        Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.
    </p>
    <p>
        Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.
    </p>
</div>
</body>
</html>
