<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap"
          rel="stylesheet">
    <title>personalData</title>
</head>
<body>
{% include "home/header.html" %}
<div class="container">
    <h2>Согласие на обработку персональных данных</h2>
    <p>
        Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы подтверждаете свое согласие на обработку ВООООБФ «Российский детский фонд» персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.
    </p>
    <p>
        ВООООБФ «Российский детский фонд» гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных обязательств, принятых ВООООБФ «Российский детский фонд» в качестве обязательных к исполнению.
    </p>
    <p>
        Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.
    </p>
    <p>
        Срок действия согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив письменное уведомления на адрес: 394018, Россия, г. Воронеж, пл. Ленина, д.5, к.7 с пометкой «Отзыв согласия на обработку персональных данных».
    </p>
    <p>
        Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта (https://dfvrn.ru), а также уничтожение записей, содержащих ваши персональные данные, в системах обработки персональных данных ВООООБФ «Российский детский фонд», что может сделать невозможным пользование интернет-сервисами ВООООБФ «Российский детский фонд».
    </p>
    <p>
        Гарантирую, что представленная мной информация является полной, точной и достоверной, а также что при представлении информации не нарушаются действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена мною в отношении себя лично.
    </p>
    <p>
        Настоящее согласие действует в течение всего периода хранения персональных данных, если иное не предусмотрено законодательством Российской Федерации.
    </p>
</div>
</body>
<script defer type="module" src="{% static 'home/js/appealForm.js' %}"></script>
</html>
