<!DOCTYPE html>
{% load static wagtailimages_tags%}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap"
          rel="stylesheet">
    <title>programsList</title>
</head>
<body>

{% include "home/header.html" %}

<div class="container pt-1">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Программы</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <h2>Программы фонда</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 row-cols-1 align-self-center">
            {% for program in page_obj %}
            <div class="row row-cols-1 g-3">
                <div class="col">
                    {% if "Право голоса" in program.title %}
                        <a href="{% url 'voting_right' %}">
                    {% else %}
                        <a href="{% url 'get_spec_prog' %}?id={{program.id}}">
                    {% endif %}
                        <div class="p-lg-5 p-md-2 p-sm-0 program__card" style="border: 1px solid #E4E4EF">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 d-none d-md-block">
                                    {% image program.image original as img %}
                                    <img src="{{img.url}}" class="img-fluid mt-lg-0 mt-md-4" alt="">
                                </div>
                                <div class="col-12 col-sm-12 d-block d-md-none">
                                    <img class="w-100" src="{{img.url}}}" alt="">
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12 col-12">
                                    <h3 class="manage__header__text__overflow mb-lg-5 mb-md-3 text-dark">
                                        {{program.title}}
                                    </h3>
                                    <p class="manage__text__overflow text-dark">
                                        {{program.caption}}
                                    </p>
                                </div>
                                <div class="pt-lg-1 pt-md-2 col-lg-1 col-md-1 d-none d-md-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        {% for p in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% include "home/footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script defer type="module" src="{% static 'home/js/appealForm.js' %}"></script>
</html>
