<!DOCTYPE html>
{% load static wagtailimages_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap"
          rel="stylesheet">
    <title>NewsList</title>
</head>
<body>
{% include "home/header.html" %}
<div class="container pt-1">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li class="breadcrumb-item active"><a href="#">Пресс центр</a></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <h2>Новости</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="newsArea" class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1 g-sm-3 g-3">
                {% for news in page_obj %}
                <div class="col">
                    <a id="pageLink" href="{% url 'get_spec_news' %}?id={{news.id}}">
                        <div class="card h-100" style="outline: 1px solid gray">
                            {% image news.image original as img %}
                            <img src="{{img.url}}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-dark">{{news.caption}}</h5>
                                <p class="card-text text-dark manage__text__overflow">{{news.text_up}}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small class="text-muted">Новости</small></p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text"><small class="text-muted">Дата: {{news.create_date}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg justify-content-center">
                        {% for p in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% include "home/footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script defer type="module" src="{% static 'home/js/appealForm.js' %}"></script>
</body>
</html>
